<launch>
    <!-- Include trajectory_generator.launch from trajectory_generator package -->
    <include file="$(find trajectory_generator)/launch/trajectory_generator.launch">
    </include>

    <!-- Launch state_machine node -->
    <node pkg="state_machine_pkg" type="state_machine_pkg" name="state_machine_node" output="screen"> </node>
</launch>

