<launch>

<!-- Using depth_image_proc package - point_cloud_xyz nodelet to generate point cloud from depth camera image -->
  <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" />
  <node pkg="nodelet" type="nodelet" name="depth_to_cloud"
        args="load depth_image_proc/point_cloud_xyz nodelet_manager">
    <remap from="camera_info" to="/realsense/depth/camera_info"/>
    <remap from="image_rect" to="/realsense/depth/image"/>
    <remap from="points" to="/point_cloud"/>
  </node>

  <!-- Node for OctoMap server -->
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
      <remap from="cloud_in" to="/point_cloud"/>

      <!-- OctoMap parameters -->
      <param name="frame_id" value="world"/>
      <param name="latch" value="false"/> <!-- Set latch to false for dynamic parameter updates -->
      <param name="resolution" value="2"/>
      <param name="sensor_model/max_range" value="32"/> <!-- Tuning the maximum range for the sensor model so that drone reaches further points -->
  </node>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find mapping_pkg)/launch/rviz_configuration.rviz" />
  
</launch>
