<launch>
    <include file="$(find simulation)/launch/simulation.launch" />
    <include file="$(find vision_pkg)/launch/vision.launch" />
    <include file="$(find state_machine_pkg)/launch/state_machine.launch" />
    <include file="$(find navigation_pkg)/launch/Planner.launch" /> 
    <include file="$(find navigation_pkg)/launch/frontier_exploration.launch" /> 
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find simulation)/launch/rviz_configuration.rviz" />
</launch>
